header {
    display: block;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.emphasis {
    font-style: italic;
    font-size: 17px;
}

.body-content {
    margin: 0 auto;
    width: 1000px;
}