html {
  background-color: black
}

header {
  height: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

body {
  margin: 0 auto;
  max-width: 1000px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  float: left;
}

nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 18px;
}

nav li a:hover {
  border-bottom: 2px;
  border-color: white;
}

header img {
  float: left;
}

p {
  color: white;
  font-family: 'Open Sans';
  font-size: 16px;
}
