header {
    display: block;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: white;
}

h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 40px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
}

.emphasis {
    font-style: italic;
    font-size: 17px;
}

body {
    margin: 0 auto;
    width: 1000px;
}

.flex-container {
    overflow: auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

.vertical-line {
    border-left: 1px solid black;
    height: 150px;
}

#about-content {
    width: 800px;
}

#profile {
    /* float: left; */
    /* display: inline-block; */
    /* top: 50%; */
    width: 150px;
    border-radius: 100%;
}
