@import "./colors.scss";
@import "./header.scss";

body {
  margin: 0;
  background-color: $background;
}

.page-content {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

h1, h2, li {
  font-family: 'Open Sans';
  color: $text;
  text-align: left;
}

p {
  color: $text;
  font-family: 'Open Sans';
  font-size: 16px;
  text-align: left;
}
