@import "./colors.scss";
@import "./header.scss";

body {
  margin: 0;
  background-color: $background;
}

.page-content {
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
}

h1, h2, li {
  font-family: 'Open Sans';
  color: $text;
  text-align: left;
}

p {
  color: $text;
  font-family: 'Open Sans';
  font-size: 16px;
  text-align: left;
}

a {
  color: $text;
  text-decoration: none;
}

a:visited {
  color: $text;
}

.card {
  padding: 20px;
  background-color: $card;
  border-radius: .5rem;
  display: flex;
}

.card:hover h2 {
  text-decoration: underline;
}

.card h2 {
  margin-top: 0;
}

.card img {
  margin-right: 20px;
}

.caption {
  text-transform: uppercase;
  font-size: 14px;
  margin: 0;
}
