body {
  background-color: #101010
}

header {
  top: 0;
  position: relative;
  overflow: hidden;
}

header.sticky {
  position: sticky;
  top: 0;
  /* width: 100% */
  color: white;
}

.header-top {
  transition: .225s ease-out;
}

.sticky .header-top {
  opacity: 0.5;
  transform: translateY(-100%);
  transition: none;
}

.header-sticky {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  transform: translateY(-100%);
}

.fake-header {
  height: 1px;
  position: relative;
}

body {
  margin: 0 auto;
  padding: 20px;
  max-width: 1000px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  align-items: center;
}

nav li a {
  box-sizing: border-box;
  display: block;
  color: white;
  text-align: center;
  padding: 31px 0;
  margin: 0 16px;
  height: 80px;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 18px;
}

nav li a:hover {
  border-bottom: 3px solid white;
}

header img {
  float: left;
  height: 80px;
  padding-right: 20px;
}

.header-sticky img {
  height: 40px;
}

h1, h2 {
  color: white;
}

p {
  color: white;
  font-family: 'Open Sans';
  font-size: 16px;
}
